test-maiapp.lavafrai.ru {
    cache {
        match_path /api/v1/schedule
        ttl 2m
    }

    handle /metrics {
        metrics
    }

    handle /test {
        respond "Hello from Caddy!"
    }

    route {
        usage

        reverse_proxy nginx-internal:80
    }
}