test-maiapp.lavafrai.ru {
    handle /metrics {
        metrics
    }

    handle /test {
        respond "Hello from Caddy!"
    }

    route {
        usage /usage-data/caddy_usage.db
        cache {
            ttl 2m
            match_status 200
        }

        reverse_proxy nginx-internal:80
    }
}