test-maiapp.lavafrai.ru {
    handle /metrics {
        metrics
    }

    handle /test {
        respond "Hello from Caddy!"
    }

    route {
        usage /usage-data/caddy_usage.db

        reverse_proxy nginx-internal:80
    }
}